// valorant
$valorant-red: #ff4655;
$valorant-light: #ece8e1;
$valorant-dark: #0d151d;

// overwatch
$overwatch-orange: #f97f00;
$overwatch-light: #f9fafc;
$overwatch-dark: #424242;

// common
$light: #f8f9fa;
$dark: #111827;
